*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.panel{
    color:white;
    margin:20px;
    text-align: center;
}
.panel button{
    padding:5px 10px ;
    border: 1px solid #181A20;
    font-size: 18px;
}
.panel h1{
    margin-left: 10px;
    font-size: 35px;
    font-weight: 600;
}
.panel button::before{
    content:'● ';
    color:#f44771;
}
.panel button:hover{
   background: #353a46;
   border-radius: 10px;
}
.quote-box{
    background: #353a46;
    border:10px solid #353a46;
    border-radius: 10px;
    margin: 10px 20px 10px 20px;
    text-align: center;
}
.quote-box h1{
    color:#F44771;
    font-size:30px;   
}
.quote-box blockquote{
    margin: 20px 0 0 0;
    font-size: 26px;
    min-height: 90px;
    color: white;
}
.quote-box blockquote::before, .quote-box blockquote::after{
    content:'"';
}
.quote-box span{
    display: block;
    margin-top: 10px;
    text-align: end;
    margin-bottom: 10px;
    margin-right: 10px;
    color: white;
    position: relative;
}
.quote-box span::before{
    content: '∣';
    width: 20px;
    transform:rotate(90deg);
    height: 2px;
    color: #b53454;
    display: inline-block;
    height: 15px;
}
.data button{
    border-radius: 10px;
    padding: 50px;
    background:linear-gradient(
        to right,
        #F44771,
        #FD29B5
    );
    color: white;
    font-size:30px;
}
.data button:hover{
    background:linear-gradient(
        to right,
        #b53454,
        #b61e83
    );
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.09);
}
.middle{
    display: flex;
    align-items: center;
}
.data{
    margin:20px;
    height:300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #353a468c;
    border-radius: 10px;
    width:70%;
}
.streak{
    margin:20px;
    height:300px;
    background: #353a468c;
    width:30%;
    border-radius: 10px;
}
.streak-count{
    margin:20px;
    height:260px;
    background: #181A20;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.streak-count button{
    font-size: 15px;
    color: #fff;
    border-radius: 10px;
    margin:5px 0;
    padding:4px 8px;
}
.streak-count button:hover{
    background: #353a468c;
    color:#F44771;
}
.circle{
    width:200px;
    height: 200px;
    border:10px solid #353a468c;
    border-radius: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.circle h1{
    padding-top: 20px;
    color:#fff;
    font-size: 25px;
}
.circle img{
    height:120px;
    width: 120px;
}

@keyframes moveleft {
  0% {
    transform: translateX(100vh);
    opacity:0;
  }
  100% {
    transform: translateX(0);
    opacity:1;
  }
}

@keyframes moveright {
  0% {
    transform: translateX(-100vh);
    opacity:0;
  }
  100% {
    transform: translateX(0);
    opacity:1;
  }
}

@media(max-width:1100px){
    .data button{
        padding: 30px;
        font-size: 20px;
    }
    .circle{
        height: 150px;
        width: 120px;
    }
    .streak-count{
        margin:15px ;
    }
    .circle img{
        height:80px;
        width: 80px;
    }
    .circle h1{
        font-size: 15px;
    }
}
@media(max-width:600px){
    .data{
        display: flex;
        flex-direction: column;
    }
    .data button:nth-child(1){
        padding: 25px 30px;
    }
    .data button{
        padding: 25px;
        font-size: 20px;
    }
    .streak-count{
        margin:10px ;
    }
    .circle{
        height: 150px;
        width: 80px;
    }
    .circle img{
        height:80px;
        width: 80px;
    }
    .circle h1{
        font-size: 15px;
    }
}